*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    line-height: 1.6;
    background-color: #f9f9f9;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #4CAF50;
    color: white;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    color: #ffeb3b;
}